body {
    background-color: lightcoral;
    text-align: center;
}

p {
    font-size: 1.5rem;
}

.testimonials {
    overflow-y: scroll;
}

.testimonial {
    width: 80%;
    min-height: 5rem;
    background-color: beige;
    margin: 0 auto;
    padding: 1rem;
    margin: 2rem;
}